extends _layout.pug

block variables
  -
    var title = 'Аренда спецтехники в Самаре и других городах – более 100 машин, Волгопродмонтаж'
    var description = 'Удобная аренда спецтехники и Самаре и других городах на любой срок. Предлагаем услуги спецтехники в Самаре и Самарской области юридическим и физическим лицам. Цены на аренду строительной техники в Самаре от 1 000 руб. в час. Волгопродмонтаж'
    var index = true

block content
  include components/intro.pug
  include components/benefits.pug
  include components/catalog.pug
  include components/complex.pug
  include components/scheme.pug
  include components/advantages.pug
  include components/projects.pug
  include components/about.pug
  include components/clients.pug
  include components/cta.pug
