-
  var advantages = {
    items: [
      {
        header: 'Помощь с выбором',
        text: 'Оставьте заявку или самостоятельно позвоните по тел. <a href="tel:+78469586627">+7 (846) 958-66-27</a>, если не знаете, какую именно спецтехнику взять в аренду. Уточним задачу, а после порекомендуем вариант для ее решения'
      },
      {
        header: 'Доставка',
        text: 'Укажите адрес объекта – в согласованное время доставим оборудование и все необходимые документы. Возможна аренда спецтехники в Самарской области, в индвидуальном порядке – в других регионах России'
      },
      {
        header: 'Оплата',
        text: 'Внесите полную оплату до начала работ, если объем большой – обсудим индивидуальные условия аренды. Для постоянных клиентов возможна рассрочка на услуги спецтехники'
      },
      {
        header: 'Гарантии',
        text: 'Будьте уверены, что получите нужную спецтехнику даже при повышенном спросе – в таком случае без доплаты предоставим вам машину большей грузоподъемности, чем необходимо'
      },
    ],
  }

.advantages#advantages
  .container
    .advantages-items
      each item in advantages.items
        .advantages__item
          p.advantages__item-header !{item.header}
          p.advantages__item-text !{item.text}
